<!--
  Generated template for the VotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
    <button ion-button menuToggle="right" right>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Votes</ion-title>
    
    <button ion-button menuToggle="left" left >
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    
    <ion-col>
      
      <h4 style="text-align: center">Séléctionnées:</h4>
        <div [dragula]='"my-bag"' [dragulaModel]="q2">
          <flash-card  *ngFor="let item of q2" detail-none>
            <div class="flash-card-front"><img style="width: 50vw;height: 20vh;margin: 20px auto;" src="{{item}}" /></div>
            <div class="flash-card-back">
              <ion-label> {{item}} </ion-label>
            </div>
          </flash-card>
        </div>
    </ion-col>

    <ion-col>
      
     <h4 style="text-align: center">Votes: </h4>
        <div >
        <ion-slides >
          <ion-slide *ngFor="let item of q1" detail-none>
            <flash-card>
            <div class="flash-card-front">
              <img style="width: 50vw;height: 20vh;margin: 20px auto;" src="{{item}}" />
            </div>
            <div class="flash-card-back">
              <ion-label> {{item}} </ion-label>
            </div>
            </flash-card>
          </ion-slide>
        </ion-slides>
        </div>
        <!--<div [dragula]='"my-bag"' [dragulaModel]="q1">
          <flash-card *ngFor="let item of q1" detail-none>
            <div class="flash-card-front"><img style="width: 50vw;height: 20vh;margin: 20px auto;" src="{{item}}" /></div>
            <div class="flash-card-back">
              <ion-label> {{item}} </ion-label>
            </div>
          </flash-card>
        </div>-->
        
        <!--<div [dragula]='"my-bag"' [dragulaModel]="q1">
          <flash-card *ngFor="let item of q1" detail-none>
            <div class="flash-card-front"><img style="width: 50vw;height: 20vh;margin: 20px auto;" src="{{item}}" /></div>
            <div class="flash-card-back">
              <ion-label> {{item}} </ion-label>
            </div>
          </flash-card>
        </div>-->
    
    </ion-col>

  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    
    <ion-buttons text-center>
    <button ion-button (click) = " Suggestions($event) " >
      <ion-icon name="search"></ion-icon>
    </button>
    
    <button ion-button (click) = " Votes($event) " >
      <ion-icon name="thumbs-up"></ion-icon>
    </button>

    <button ion-button (click) = " Synthese($event) " >
      <ion-icon name="stats"></ion-icon>
    </button>
    </ion-buttons>


  </ion-toolbar>
</ion-footer>