<!--
  Generated template for the AuthentificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header align-title="center">

    <ion-navbar id="e1">
    <ion-title class="h2 title title_custom">Login/Register</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding id="e2">

  <div *ngIf = "logged">
    <ion-label>Id :{{this.utilisateur._id}}</ion-label>
    <ion-label>Nom :{{this.utilisateur.userProfile.userName}}</ion-label>
    <ion-label>Email :{{this.utilisateur.userProfile.userMail}}</ion-label>
    <div *ngFor = "let tkn of this.utilisateur.deviceTokens">
      <ion-label>token :{{tkn}}</ion-label>
    </div>
    <button ion-button color="secondary" full (click)="doLogout()">Logout</button>
  </div>


<div *ngIf="!logged">
  <div *ngIf="showLogin">
    <ion-item>
      <ion-input type="text" placeholder="Nom" [(ngModel)]="utilisateur.userProfile.userName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="email" placeholder="Email" [(ngModel)]="utilisateur.userProfile.userMail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="token" [(ngModel)]="token"></ion-input>
    </ion-item>

    <ion-label>{{tokenParDefaut}}</ion-label>

    <ion-item>
      <button ion-button color="secondary" full (click)="doLogin()">Login</button>
    </ion-item>

    <ion-item>
      <button ion-button color="secondary" outline full (click)="showLogin = !showLogin">Créez un nouveau compte</button>
    </ion-item>

  </div>

  <div *ngIf="!showLogin">

    <ion-item>
      <ion-input type="text" placeholder="Nom" [(ngModel)]="utilisateur.userProfile.userName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="email" placeholder="Email" [(ngModel)]="utilisateur.userProfile.userMail"></ion-input>
    </ion-item>

    <ion-item>
      <button ion-button color="secondary" full (click)="doRegister()">Register</button>
    </ion-item>

    <ion-item>
      <button ion-button color="secondary" outline full (click)="showLogin = !showLogin">Vous avez dèjà un compte</button>
    </ion-item>

  </div>

</div>

</ion-content>
