page-accueil {
    #e1 {background-color: #e6e6e6 !important; opacity:0.3}
    #e2 {background-color: #E7FBCD !important; opacity:0.7}
    #e3 {background-color: #e6e6e6 !important; opacity:0.3}
    #e4 {background-color: #E7FBCD !important; opacity:0.7}
    #e5 {background-image: url('https://goodies.pcastuces.com/vignettes/9554_l.jpg');}
    // #e5 {background-image: url('fond_1.jpg');}
}


