page-suggestions {
  #card-stack {
    width: 80%;
    height: 60%;
    background: #69717d;
    border: 10px solid #607941;
    margin: 0px auto 0;
    position: relative;
    // top: 150px;
    //right: 350px;
  }

  #card-stack ion-card {
    border-radius: 5px;
    position: absolute;
    text-align: center;
    top: 3%;
    height: 90%;
  }
}
