page-suggestions {
  #card-stack {
    width: 50%;
    height: 300px;
    background: #047915;
    border: 10px solid #4cb338;
    margin: 100px auto 0;
    position: absolute;
    top: 150px;
    right: 350px;
  }

  #card-stack ion-card {
    border-radius: 5px;
    position: absolute;
    text-align: center;
    top: 3%;
    height: 90%;
  }
}
