page-synthese {

#e1 {display:inline-block}
#e2 {display:inline-block}
#e3 {background-image: url('http://static.wixstatic.com/media/6cfe27_c21008288ed3487a8450323c3a36fe30~mv2.jpg');}
// #e3 {background-image: url('fond_4.jpg');}
#e4 {background-color: #e3ffee; ; opacity:0.3  ; margin: auto; width: 60%; border: 3px solid #8f8f8f ; padding: 10px}
}
