<!--
  Generated template for the VotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>

    <div style="display:inline-block" (click)="Accueil($event)">
      <img  src="https://innovatorsrace50.com/uploads/e60944c8cb03e6821caff8fd4d6deba7/company_picture_18524_58ac738d2df16.png" width="40px"  height="40px"/>
    </div>
    <ion-title style="display:inline-block" >Vote</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding style="background-image: url('https://drscdn.500px.org/photo/52710426/q%3D80_m%3D1500/ac3fc98522484898839115fe3c931a33');">

<div style="background-color: #e3ffee; ; opacity:0.3  ; margin: auto; width: 60%; border: 3px solid #8f8f8f ; padding: 10px">
  <p>id: {{recherche.id}}</p>
  <p>nom: {{recherche.nom}}</p>
  <p>description: {{recherche.description}}</p>
  <p>date: {{recherche.date}}</p>
  <p>lieu: {{recherche.lieu}}</p>
</div>

  <div style="margin: auto; padding: 10px" *ngIf="q">
    <flash-card>
      <div class="flash-card-front">
        <img style="width: 75vw; height: 50vh; margin: 0; position: absolute; top: 0; left: 0;" *ngIf="q.providersData[0]" src="{{q.providersData[0].copyrightImageSrc}}" />
      </div>
      <div class="flash-card-back">
        <ion-label>carte Id: {{q._id}} </ion-label>
        <ion-label>carte nom: {{q.detailedInformation.name}} </ion-label>
        <ion-label>carte latitude: {{q.detailedInformation.latitude}} </ion-label>
        <ion-label>carte longitude: {{q.detailedInformation.longitude}} </ion-label>
      </div>
    </flash-card>
  </div>

  <div>
    <ion-slides *ngIf = 'auth.isAuthenticated()' style="margin: auto; width: 60%; padding: 10px">
      <ion-slide *ngFor="let item of sorties[ii].cartes">
        <img (click)=" AjouterAuFavoris(item)" style="width: 50vw;height: 25vh;margin: 20px auto;" *ngIf="item.providersData[0]" src="{{item.providersData[0].copyrightImageSrc}}" />
      </ion-slide>
    </ion-slides>

    <ion-slides *ngIf = '!auth.isAuthenticated()' style="margin: auto; width: 60%; padding: 10px">
      <ion-slide *ngFor="let item of recherche.cartes">
        <img (click)=" AjouterAuFavoris(item)" style="width: 50vw;height: 25vh;margin: 20px auto;" *ngIf="item.providersData[0]" src="{{item.providersData[0].copyrightImageSrc}}" />
      </ion-slide>
    </ion-slides>
  </div>
  <div>
    <ion-list *ngIf = 'auth.isAuthenticated()' [dragula]='"my-bag"' [dragulaModel]="sorties[ii].favoris">
      <button (click)="PlusDetails(item2)" style="opacity:0.7; background-color: #E7FBCD;-webkit-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);-moz-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);border: 1px solid #dee2e3;" ion-item *ngFor="let item2 of sorties[ii].favoris">

        <ion-avatar item-left>
          <img-loader *ngIf="item2.providersData[0]" [src]="item2.providersData[0].copyrightImageSrc" useImg [spinner]="false"></img-loader>
        </ion-avatar>
        <h4>id: {{item2._id}}</h4>
        <p>nombre de photos assciées: {{item2.providersData.length}}</p>
        <ion-avatar item-right>
          <img-loader *ngIf="item2.providersData[0]" [src]="item2.providersData[0].copyrightImageSrc" useImg [spinner]="false"></img-loader>
        </ion-avatar>

      </button>
    </ion-list>

    <ion-list *ngIf = '!auth.isAuthenticated()' [dragula]='"my-bag"' [dragulaModel]="recherche.favoris">
      <button (click)="PlusDetails(item2)" style="opacity:0.7; background-color: #E7FBCD;-webkit-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);-moz-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);border: 1px solid #dee2e3;" ion-item *ngFor="let item2 of recherche.favoris">

        <ion-avatar item-left>
          <img-loader *ngIf="item2.providersData[0]" [src]="item2.providersData[0].copyrightImageSrc" useImg [spinner]="false"></img-loader>
        </ion-avatar>
        <h4>id: {{item2._id}}</h4>
        <p>nombre de photos assciées: {{item2.providersData.length}}</p>
        <ion-avatar item-right>
          <img-loader *ngIf="item2.providersData[0]" [src]="item2.providersData[0].copyrightImageSrc" useImg [spinner]="false"></img-loader>
        </ion-avatar>

      </button>
    </ion-list>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-buttons text-center>
    <button ion-button (click) = " Suggestions($event) " >
      <ion-icon name="search"></ion-icon>
    </button>

    <button ion-button (click) = " Vote($event) " >
      <ion-icon name="thumbs-up"></ion-icon>
    </button>

    <button ion-button (click) = " Synthese($event) " >
      <ion-icon name="stats"></ion-icon>
    </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
