page-vote {

#e1 {background-image: url('https://drscdn.500px.org/photo/52710426/q%3D80_m%3D1500/ac3fc98522484898839115fe3c931a33');}
// #e1 {background-image: url('fond_5.jpg');}
#e2 {background-color: #e3ffee; ; opacity:0.3  ; margin: auto; width: 60%; border: 3px solid #8f8f8f ; padding: 10px}
#e3 {margin: auto; padding: 10px}
#e4 {width: 75vw; height: 50vh; margin: 0; position: absolute; top: 0; left: 0;}
#e5 {margin: auto; width: 60%; padding: 10px}
#e6 {width: 50vw;height: 25vh;margin: 20px auto;}
#e7 {opacity:0.7; background-color: #E7FBCD;-webkit-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);-moz-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);border: 1px solid #dee2e3;}

}
